.App {
  text-align: center;
}

.myIcon {
  height: 24px;
}

.email-btn {
  min-width: -webkit-fill-available;
}

.lever {
  margin-left: 20px !important;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #266ca6;
}

@media (max-width: 500px) {
  .fa-moon {
    display: none !important;
  }
  .fa-lightbulb {
    display: none !important;
  }
  .switch label .lever {
    margin: 5px;
  }
  .fa-user-ninja {
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .my-label {
    margin-right: 20px;
  }
}

.header-bg {
  background-color: rgb(247, 170, 170);
}

@media (max-height: 500px) {
  nav i {
    height: 30px;
  }
}

iframe {
  width: -webkit-fill-available;
  height: 1000px;
}
