.App {
  text-align: center;
}

.myIcon {
  height: 24px;
}

.email-btn {
  min-width: -webkit-fill-available;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #266ca6;
}

.lever {
  margin-left: 30px !important;
}

.header-bg {
  background-color: rgb(247, 170, 170);
}

iframe {
  width: -webkit-fill-available;
  height: 1000px;
}
