
@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=VT323&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.cursive {
  font-family: 'VT323', monospace;
  font-weight: 400;
}

.cutive {
  font-family: 'Cutive Mono', monospace;
  font-family: 400;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 6.2em;
}

@media (max-width: 800px ){
  .home-name {
    font-size: 3.2em;
  }
}
